<div class="newsletter">
    <p>Have a Query !! Talk to Our Best Agent Right Now</p>
    <fieldset class="fixed_flex">
        <input type="email" class="input" placeholder="Your Email Address">
        <button class="btn btn_2" style="background-color: #242582;">Subscribe</button>
      </fieldset>
</div>
<div class="container2">
<div class="container">
    <div class="details">
        <section class="footer_title">
            <mat-icon style="font-size: 40px; padding-right: 15px;">home</mat-icon>
            <span style="font-size: 35px;">Real State</span>
        </section>
        <hr>
        <div class="titles">
            <div class="about">
                <h2>About</h2>
                <a mat-button>Our Story</a>
                <a mat-button>Awards</a>
                <a mat-button>Our Team</a>
                <a mat-button>Career</a>
            </div>
            <div class="media">
                <h2>Company</h2>
                <a mat-button>Our Services</a>
                <a mat-button>Client</a>
                <a mat-button>Contact</a>
                <a mat-button>Other</a>
            </div>
            <div class="links">
                <h2>Resources</h2>
                <a mat-button>Blogs</a>
                <a mat-button>Cookies Policy</a>
                <a mat-button>T & C</a>
                <a mat-button>Support</a>
            </div>
        </div>
    </div>
    <div>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7383.469707507043!2d73.3574247878667!3d22.28803154609506!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x395fda2400192473%3A0xc319c9237f2928e8!2sParul%20University!5e0!3m2!1sen!2sin!4v1686935830225!5m2!1sen!2sin" width="250" height="250" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</div>
<hr>
<div class="media2">
    <ul>
        <a href="#" class="fa fa-instagram"></a>
        <a href="#" class="fa fa-facebook"></a>
        <a href="#" class="fa fa-twitter"></a>
        <a href="#" class="fa fa-linkedin"></a>
    </ul>
</div>
<section>
    <p style="text-align: center;">CopyRight 2023 -All Rights Reserved</p>
</section>
</div>